{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}

{% block titletag %}{% trans "Unsplash image search" %}{% endblock %}

{% block content %}
    {% trans "Unsplash Images" as im_str %}
    {% include "wagtailadmin/shared/header.html" with title=im_str icon="image" search_url="search_unsplash_images" %}
    
    <div class="nice-padding">
        {% if images %}
            <form id="unsplash-image-select-form" action="" method="POST">
                {% csrf_token %}
                <div id="image-results">
                    {% if images %}
                        <h2 role="alert">
                            {% blocktrans count counter=images.paginator.count %}
                                There is {{ counter }} match
                            {% plural %}
                                There are {{ counter }} matches
                            {% endblocktrans %}
                        </h2>
                    {% else %}
                        <h2>{% trans "Search images..." %}</h2>
                    {% endif %}
                    <ul class="listing horiz images">
                        {% for image in images %}
                            <li>
                                <div class="image-choice">
                                    <figure>
                                        <button name="image_id" value="{{ image.id }}" style="border: none; background: none;">
                                            <img src="{{ image.urls.thumb }}" alt="" style="max-height: 215px;" />
                                        </button>
                                        {% comment %} {% trans "pixels" as translated_pixels %} {% endcomment %}
                                        <figcaption>
                                            {% comment %} {{ image.title|ellipsistrim:60 }} {% endcomment %}
                                            {% comment %} <span class="visuallyhidden">{{ image.width }} {{ translated_pixels  }} &#215; {{ image.height }} {{ translated_pixels}}</span> {% endcomment %}
                                        </figcaption>
                                    </figure>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                    {% include "wagtailadmin/shared/pagination_nav.html" with items=images %}
                </div>
            </form>
        {% else %}
            {% trans "Search for images from Unsplash above" %}
        {% endif %}
    </div>

{% endblock %}
